.root{
    -fx-background-color: #6A8BA6;
}

#listView{
    -fx-background-color: #ffffff;
}
#inputField{
    -fx-background-color: #A8D0DB;
    -fx-prompt-text-fill: black;
}

#footer{
    -fx-background-color: #3B5264;
    -fx-alignment: center;
}
#checkBox{

}