.root{
    -fx-background-color: #6A8BA6;
}

.button {
    -fx-background-color:#E49273;
}

.button:hover {
    -fx-background-color:#A37A74;
}
.button:pressed{
    -fx-background-color:#7F828E ;

}

#buttonBox{
    -fx-alignment: center;
    -fx-spacing: 10;
}
#footer{
    -fx-background-color: #3B5264;
    -fx-alignment: center;
}
